// Override the necessary variables directly
$o-frontend-min-contrast-ratio: 3.0 !default;
$o-webclient-color-scheme: dark !default;
$o-root-font-size: 1.1rem !default;
$o-font-size-base: o-to-rem(15px) !default;
$o-font-size-base-small: o-to-rem(14px) !default;
$o-font-size-base-smaller: o-to-rem(13px) !default;
$o-line-height-base: 1.6 !default;

$o-gray-100: #f1f3f5 !default;
$o-gray-200: #e2e6ea !default;
$o-gray-300: #d3d9df !default;
$o-gray-400: #c3cbd4 !default;
$o-gray-500: #a9b2bd !default;
$o-gray-600: #8f9aa6 !default;
$o-gray-700: #757f8f !default;
$o-gray-800: #5b6778 !default;
$o-gray-900: #414f5f !default;

$o-community-color: #f1f3f5 !default;
$o-enterprise-color: #e74c3c !default;
$o-enterprise-action-color: #3498db !default;

$o-brand-primary: $o-community-color !default;
$o-brand-secondary: #bdc3c7 !default;
$o-brand-lightsecondary: $o-gray-100 !default;

$o-action: $o-brand-primary !default;
$o-success: #2ecc71 !default;
$o-info: #3498db !default;
$o-warning: #f1c40f !default;
$o-danger: #e74c3c !default;

$o-border-radius: o-to-rem(5px) !default;
$o-border-radius-sm: o-to-rem(4px) !default;
$o-border-radius-lg: o-to-rem(7px) !default;
